<extend name="Common:app"/>


<block name='pageheader'>
    <section class="content-header">
        <h1>
            添加分类
            <!--<small>Optional description</small>-->
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard">
                    </i> 首页
                </a>
            </li>
            <li>
                <a href="{:('./index')}">
                    </i> 管理分类
                </a>
            </li>
            <li class="active">
                添加分区
            </li>
        </ol>
    </section>
</block>

<block name='content'>
    <div class="box">
        <div class="box-header">
        </div>

        <div class="box-body" >
            <div  class="">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-1">


                        <form class="form-horizontal" method="post" action="{:U('Coupon/addcate2')}" enctype="multipart/form-data">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label" title="必填">分区名称 <span id=""  style="color: red;">
                      	*
                      </span></label>
                                    <div class="col-sm-10">
                                        <input type="text" id="name" class="form-control" name="title" id="inputPassword3" placeholder="">
                                    </div>
                                </div>



                            </div><!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-info pull-right">保存</button>
                            </div><!-- /.box-footer -->
                        </form>

                    </div>
                </div>

            </div>
        </div><!-- /.box-body -->
    </div>

</block>



