*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family:"微软雅黑";
}
h1{
	font-size: 0.24rem;
	color: #5e5e5e;
	font-family: "苹方";
}
h2{
	font-size: 0.18rem;
	color: #9b9b9b;
	font-family: San Francisco display
}
p{
	font-size: 0.2rem;
	color: #666;
	font-family: "苹方";
}
body,ul,li,ol,p,pre,h1,h2,h3,h4,h5,h6,input,form,div{
	margin:0;
	padding:0;
}
ul li,span{
	list-style:none;
}
a,a:visited{
	text-decoration:none;
}
a,button,input{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
}
body{
	-webkit-user-select:none;
	-webkit-text-size-adjust:100%;
	-webkit-overflow-scrolling:touch;
}
*{
	max-height:9999999px;
	box-sizing: border-box;
}
img,input{
	border:0;
}