<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=750){
                        // 这里的640 取决于设计稿的宽度
                        docEl.style.fontSize = '100px';
                    }else{
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };

            if (!doc.addEventListener) return;
            recalc();
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <script src="/Public/Active/14_xie_zhua/js/loading.js"></script>
    <link rel="stylesheet" href="/Public/Active/common/css/common.css">
    <link rel="stylesheet" href="/Public/Active/01_scratch_guamin/css/index.css">
    <link rel="stylesheet" href="/Public/Active/common/css/lucky-card.css">
    <link rel="stylesheet" href="https://unpkg.com/animate.css@3.5.1/animate.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/Public/Active/common/js/jquery.fly.min.js"></script>
    <script src="/Public/Active/common/js/lucky-card.min.js"></script>
    <script src="/Public/Active/common/js//swiper.min.js"></script>
    <title>护肾送疯八</title>
    <!-- Baidu Statistics -->
   
</head>
<body>
<div class="content">
    <section class="box" style="background-image:url(http://ovxy8cacs.bkt.clouddn.com/23_bg.png);background-size:100% 100%;background-repeat: no-repeat;">
        <div class="zhezhao2"></div>
        <!--规则内容-->
        <div class="rule_content">
            <div class="rulefont">
                <h2><span></span>&nbsp;活动说明&nbsp;<span></span></h2>
                <p>护肾送"疯8"<br>
                    <br>
                    活动说明：参与活动即有机会获得幸运大奖，每天有{$tempInfo['times']}次免费刮奖机会。此活动为概率中奖，奖品数量有限<br>
                    <br>
                    惊喜一：iPhone8<br>
                    惊喜二：iPhone8P<br>
                    惊喜三：护肾红包500元<br>
                    惊喜四：福袋 <br>
                    兑换项和活动均与设备生产商Apple lnc.无关</p>
            </div>
            <!--规则-->
            <div class="rule" style="background:url(http://ovxy8cacs.bkt.clouddn.com/23_rule02.png);background-size:100% 100%;background-repeat: no-repeat;">
            </div>
        </div>
        <!--我的奖品-->
        <a class="myprice" href="/index.php/Active/Active/prize_list/media_id/{$media_id}/entry_id/{$entry_id}">
            <span>我的奖品</span>
        </a>
        <!--转盘-->
        <div id="scratch">
            <img src="http://ovxy8cacs.bkt.clouddn.com/23_card01.png" alt="" class="disk1">
            <div id="card">
                <img style="height: 2rem;width: 4.2rem;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;" class="img_gua" src="" alt="">
            </div>
        </div>
        <!--//手指-->
        <img src="http://ovyb6evrq.bkt.clouddn.com/17_download.png" alt="" id="point">
        <!--底部-->
        <section class="footer">
            <div>
                <img src="http://ovxy8cacs.bkt.clouddn.com/23_01.png" alt="">
            </div>
            <div>
                <img src="http://ovxy8cacs.bkt.clouddn.com/23_02.png" alt="">
            </div>
            <div>
                <img src="http://ovxy8cacs.bkt.clouddn.com/23_03.png" alt="">
            </div>
            <div>
                <img src="http://ovxy8cacs.bkt.clouddn.com/23_04.png" alt="">
            </div>
        </section>
        <!--抽奖文字-->
        <div class="font">
            <p>您还有<span>{$times}</span>次抽奖机会</p>
        </div>
        <!--次数为0的时候显示的弹窗-->
        <div class="pop2" style="z-index:100;">
            <div class="velocity">
                <div class="tomorrow">
                    <img style="position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;" src="http://ovyb6evrq.bkt.clouddn.com/17_end.png" alt="">
                </div>
                <section class="activetwo">
                    <img class="bg_two" src="http://ovyb6evrq.bkt.clouddn.com/17_two.png" alt="">
                    <a href="" class="boxone">
                        <img src="" alt="" class="active1">
                    </a>
                    <a href="" class="boxtwo">
                        <img src="" alt="" class="active2">
                    </a>
                    <img class="delete" src="http://ovyb6evrq.bkt.clouddn.com/17_pop2_close.png" alt="">
                </section>
                <section class="activeone">
                    <img class="bg_two" src="http://ovyb6evrq.bkt.clouddn.com/17_two.png" alt="">
                    <a href="" class="boxone">
                        <img src="" alt="" class="active1">
                    </a>
                    <img class="delete" src="http://ovyb6evrq.bkt.clouddn.com/17_pop2_close.png" alt="">
                </section>
            </div>
        </div>
        <!--//券的相关信息-->
        <div class="zhezhao">
            <div class="quan">
                <img src="http://ovyb6evrq.bkt.clouddn.com/17_cha.png" alt=""  id="delete">
                <div class="linkone">
                    <img src="" alt="" class="quanimg">
                </div>
                <div class="linktwo">
                    <img src="http://ovxy8cacs.bkt.clouddn.com/23_btn.png" alt="">
                </div>
            </div>
        </div>
        <!--第一个弹窗  1个抽奖券-->
    </section>
    <!--<a class="fubiaoBtn" href="http://www.chipshare.net/dayu/index.php/Activity/Index/index/media_id/{$media_id}/entry_id/{$entry_id}/type/2">-->
        <!--<img id="fubiao" src="http://ovyb6evrq.bkt.clouddn.com/17_fubiao.gif" alt="">-->
    <!--</a>-->
    <!--//跳转页面-->
    <div class="jump" data-href="" style="display: none;"></div>
    <!--//用户点击领券发送ajax-->
    <div class="sendajax" style="display: none;"></div>
    <!--//用户的id-->
    <div class="userid" style="display: none;"></div>
    
</div>
</body>
</html>
<script>
    window.onload=function(){
        //压缩
//        function getParentUrl() {
//            var url;
//            if (parent !== window) {
//                try {
//                    url = parent.location.href;
//                } catch (e) {
//                    url = document.referrer;
//                }
//            }
//            return url;
//        }
//        function hiJackSniffer() {
//            var files = $.toArray(Document.querySelectorAll('script[src]'));
//            var arr = [];
//            for (var i = 0, len = files.length; i < len; i++) {
//                files[i].src && arr.push(files[i].src);
//            }
//            if (arr.length) {
//                return sendImg(arr, 1);
//            }
//        }

        $('#point').addClass("move");
        // 初始化抽奖
        var lott_num;
        beforeTouch();
        function beforeTouch() {
            $('#cover').on("touchmove",function(e){
                e.preventDefault();
            })
            var lottNum = $(".font p span").html(); // 获取抽奖次数
            if(lottNum > 0) { // 抽奖次数大于0时可抽奖
                LuckyCard.case({
                    coverImg:'/Public/Active/01_scratch_guamin/img/23_card02.png',
                    ratio: 0.3,
                    callback: function(){
                        lottNum--;
                        $(".font p span").html(lottNum);
                        if(lottNum===0){
                            $('#delete').on("touchend",function(){
                                ajaxzero();
                            })
                        }
                        this.clearCover();
                        $("#scratch #cover").remove();
                        popshow();
                    }
                });
                //初始化刮刮卡后监听touch事件
                var flag=true;
                setTimeout(function(){
                    $('#cover').on("touchstart ", function(){
                        $('#point').hide();
                        if(flag){
                            flag=false;
                            ajaxone(); // 向后台发送数据
                            $('.img_gua').attr("src","");
                        }
                    });
                }, 20)
            }else{
                $('#card').text("今天抽奖次数已用完");
                LuckyCard.case({
                    coverImg:'/Public/Active/01_scratch_guamin/img/23_card02.png',
                    ratio: 0.3,
                    callback: function(){
                        ajaxzero(); // 抽奖次数为0时向后台发送状态，请求相关数据
                    }
                });
            }
        }
        //禁止页面滚动
//        document.body.style.overflow = 'hidden';
//        function _preventDefault(e) { e.preventDefault();}
//        window.addEventListener('touchmove', _preventDefault);
        var flagqq=true;
        function popshow(){
            if(flagqq){
                $('.quan').addClass("bgone");
                flagqq=false;
            }else{
                $('.quan').addClass("bgtwo");
                flagqq=true;
            }
            $('.zhezhao').show();
            $('.quan').show();
            //点击事件
            setTimeout(function(){
                $('.linkone').addClass('qq');
            },1000);
            $('.zhezhao .quan').addClass('animated bounceUp');
            beforeTouch();
        }

        //点击弹窗的xx让弹窗消失
//        var num01=0;
        $('#delete').on("touchend",function(){
            //浮标出来
            var num_fubiao=$('.font p span').html();
            if(num_fubiao==0){
                ajaxzero();
            }
            $('.quan').addClass("active");
            var t=setTimeout(function(){
                $('.zhezhao').css("display","none");
                $('.quan').removeClass('bgone');
                $('.quan').removeClass('bgtwo');
                $('#point').show();
            },500);
            $('.light').css("display","none");
            var tt=setTimeout(function(){
                var width=$('.myprice').css("width");
                var newwidth=width.replace("px","")-15;
                $('<div class="test"></div>').fly({
                    start: {top: 200, left: 150},
                    end: {top: 24, left: newwidth, width: 10, height: 10},
                    onEnd: function(){
                        $('.quan').removeClass("active");
                    }
                });
            },500);
        })
        //点击明日再来消失
        $('.velocity .tomorrow').on("touchend",function(){
            $('.pop2').css("display","none");
        })

        //点击规则规则从上而下出来
        $('.rule').on("touchend",function(){
            $('.rulefont').slideToggle();
            var display=$('.zhezhao2').css("display");
            if(display=="none"){
                $('.zhezhao2').css("display","block");
                $('.myprice').hide();
                $('.test').hide();
            }else if(display=="block"){
                $('.zhezhao2').css("display","none");
                $('.myprice').show(500);
                $('.test').show(500);
            }
        })
        //次数为0的时候第二个弹窗显现
        function pop2Show(){
            $('.pop2').show();
        }
        //点击活动的八叉
        $('.delete').on("touchend",function(){
            $('.pop2').hide();
        })
        // 点击抽奖时向后台传值
        function ajaxone() {
            $.ajax({
                url:"/index.php/Active/Ajax/run.html",
                type:"POST",
                dataType:"json",
                data:{
                    uid:"{$uid}",
                    media_id:"{$media_id}",
                    entry_id:"{$entry_id}",
                    active_id:"{$active_id}",
                },
                success: function(data) {
                    if(data.status==1){
                        $(".font p span").html(data.last);
                        var result=data.prize;
                        $('.userid').html(data.recordID);
                        $('.quanimg').attr('src', result.pic);
                        $('.name').html(result.name);
                        $('.jump').attr("data-href",result.href);
                        $('.img_gua').attr("src",result.pic);
                    }else if(data.status==0){
                        alert("活动暂未开放");
                    }
                }
            })
        }
        //点击图片时发送请求,
        $("img.quanimg").on("touchend",function(){
            //可以点击
            $('.dugzhezhao').hide();
            //恢复原状
            $('.dug div img:first-child').attr("src","http://ovxy8cacs.bkt.clouddn.com/dug_dandan.png");
//            $('.dug div img').addClass("jump");
            $('.hummer').css({top:"3rem",right:"0.2rem"});
            $(".zhezhao").hide();
            $('.quan').hide();
            $('.light').hide();
            //点击领券
            handleClickAjax();
        })
        //点击立即领取时发送ajax
        $('.linktwo img').on("touchend",function(){
            //可以点击
            $('.dugzhezhao').hide();
            //恢复原状
            $('.dug div img:first-child').attr("src","http://ovxy8cacs.bkt.clouddn.com/dug_dandan.png");
            $('.hummer').css({top:"3rem",right:"0.2rem"});
            $(".zhezhao").hide();
            $('.quan').hide();
            $('.light').hide();
            //点击领券
            handleClickAjax();
        })
        // 点击领取发送ajax
        function handleClickAjax(a) {
            var id=$('.userid').html();
            $.ajax({
                url: "/index.php/Active/Ajax/receive.html",
                type: "post",
                data: {
                    uid:"{$uid}",
                    media_id:"{$media_id}",
                    entry_id:"{$entry_id}",
                    active_id:"{$active_id}",
                    record_id:id,
                },
                dataType: "json",
                success: function(result) {
                    if(result.status==1){
                        $('.sendajax').html("yes");
                        window.location.href=$('.jump').attr("data-href");
                    }else if(result.status==0){
                        alert("程序员被台风吹走了");
                    }else{
                        alert("程序员离开一小会");
                    }
                },
            });
        }
        // 点击以后抽奖次数为0时发送请求
        function ajaxzero(){
            $.ajax({
                url: "/index.php/Active/Ajax/active_data.html",
                type: "post",
                data: {
                    'activity_id':"{$activity_id}",
                    'uid':"{$uid}",
                    'entry_id':"{$entry_id}",
                    'media_id': "{$media_id}"
                } ,
                dataType: "json",
                success: function success(result) {
                    if(result.status == 0) {
                        var data = result.active;
                        $(".zhezhao").css("display","none");
                        pop2Show();
                        if(data.length == 1) {
                            $('.activeone').addClass('animated bounceInDown');
                            $('.activeone').css("display","block");
                            $('.boxone img').attr("src",data[0].pic);
                            $('.boxone').attr("href","/index.php/Active/Active/index.html?media_id={$media_id}&entry_id={$entry_id}&active_id="+data[0].id);
                        }else if(data.length>1) {
                            //two
                            $('.activetwo').addClass('animated bounceInDown');
                            $('.activetwo').css("display","block");
                            $('.boxone img').attr("src",data[0].pic);
                            $('.boxtwo img').attr("src",data[1].pic);
                            $('.boxone').attr("href","/index.php/Active/Active/index.html?media_id={$media_id}&entry_id={$entry_id}&active_id="+data[0].id);
                            $('.boxtwo').attr("href","/index.php/Active/Active/index.html?media_id={$media_id}&entry_id={$entry_id}&active_id="+data[1].id);
                        }else if(data.length==0){
                            $('.tomorrow').show();
                        }
                    } else {
                        return;
                    }
                }
            });
        }
        //灯笼旋转
        var t1=setTimeout(move1,1000);
        function move1(){
            $('.footer div:first-child').addClass("activethree");
            var tone=setTimeout(function(){
                $('.footer div:first-child img').attr("src","http://ovxy8cacs.bkt.clouddn.com/23_005.png");
            },1000)
            var tone2=setTimeout(function(){
                $('.footer div:first-child img').attr("src","http://ovxy8cacs.bkt.clouddn.com/23_01.png");
            },3000)
            var tone3=setTimeout(function(){
                $('.footer div:first-child img').attr("src","http://ovxy8cacs.bkt.clouddn.com/23_005.png");
            },5000)
        }
        var t2=setTimeout(move2,1500);
        function move2(){
            $('.footer div:nth-child(2)').addClass("activethree");
            var tone=setTimeout(function(){
                $('.footer div:nth-child(2) img').attr("src","http://ovxy8cacs.bkt.clouddn.com/23_006.png");
            },1000);
            var tone2=setTimeout(function(){
                $('.footer div:nth-child(2) img').attr("src","http://ovxy8cacs.bkt.clouddn.com/23_02.png");
            },3000);
            var tone3=setTimeout(function(){
                $('.footer div:nth-child(2) img').attr("src","http://ovxy8cacs.bkt.clouddn.com/23_006.png");
            },5000);
            clearTimeout(t2);
        }
        var t3=setInterval(move3,2000);
        function move3(){
            $('.footer div:nth-child(3)').addClass("activethree");
            var tone=setTimeout(function(){
                $('.footer div:nth-child(3) img').attr("src","http://ovxy8cacs.bkt.clouddn.com/23_007.png");
            },1000);
            var tone2=setTimeout(function(){
                $('.footer div:nth-child(3) img').attr("src","http://ovxy8cacs.bkt.clouddn.com/23_03.png");
            },3000);
            var tone3=setTimeout(function(){
                $('.footer div:nth-child(3) img').attr("src","http://ovxy8cacs.bkt.clouddn.com/23_007.png");
            },5000);
            clearTimeout(t3);
        }
        var t4=setTimeout(move4,2500);
        function move4(){
            $('.footer div:nth-child(4)').addClass("activethree");
            var tone=setTimeout(function(){
                $('.footer div:nth-child(4) img').attr("src","http://ovxy8cacs.bkt.clouddn.com/23_008.png");
            },1000)
            var tone2=setTimeout(function(){
                $('.footer div:nth-child(4) img').attr("src","http://ovxy8cacs.bkt.clouddn.com/23_04.png");
            },3000);
            var tone3=setTimeout(function(){
                $('.footer div:nth-child(4) img').attr("src","http://ovxy8cacs.bkt.clouddn.com/23_008.png");
            },5000);
            clearTimeout(t4);
        }
    }
    function check(){
        $.ajax({
            url:"/index.php/Active/Ajax/check.html",
            type:"POST",
            dataType:"json",
            data:{
                uid:"{$uid}",
            },                                                   
        });	
    }   
    check();  
    
</script>