<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta https-equiv="X-UA-Compatible" content="ie=edge">
    <script src='{:C('Public')}/Active/common/js/jquery.min.js'></script>
    <script src='{:C('Public')}/Active/common/js/intercept.js?version=1.2'></script>
    <script>
    //intercept page
    intercept('{$member_id}','{$intercept}');
    //font resize standard for iphone6
    $(window).width()>540?$('html').css('font-size',''+540/375*312.5+'%'):$('html').css('font-size',''+$(window).width()/375*312.5+'%');
    window.onresize = function(){$(window).width()>540?$('html').css('font-size',''+540/375*312.5+'%'):$('html').css('font-size',''+$(window).width()/375*312.5+'%')};
    </script>
    <script src="/Public/Active/14_xie_zhua/js/loading.js"></script>
    <link rel="stylesheet" href="/Public/Active/common/css/1031_common.css">
    <link rel="stylesheet" href="/Public/Active/40_lucky_surprise/css/index.css">
    <title>{$tempInfo['title']}</title>
    <!-- Baidu Statistics -->
</head>
<body>
<!--//头部-->
<!--<header></header>-->
<!--//body-->
<div class="content">
    <section style="background-image:url(https://yun.yizhidayu.com/40-lucky-bg2.jpg);background-size:100% 100%;background-repeat: no-repeat;">
        <div class="zhezhao2"></div>
        <!--规则内容-->
        <div class="rule_content">
            <div class="rulefont">
                <h2><span></span>&nbsp;活动说明&nbsp;<span></span></h2>
                <p>惊喜幸运机<br>
                    <br>
                    活动说明：参与活动即有机会获得幸运大奖，每天有{$tempInfo['times']}次免费抽奖机会。此活动为概率中奖，奖品数量有限<br>
                    <br>
                    惊喜一：888元红包<br>
                    惊喜二：666元红包<br>
                    惊喜三：200元红包<br>
                    惊喜四：100元红包<br>
                    惊喜五：50元红包<br>
                    惊喜六：幸运福袋<br>
                    兑换项和活动均与设备生产商Apple lnc.无关</p>
            </div>
            <!--规则-->
            <div class="rule" style="background:url(https://yun.yizhidayu.com/39_chou_rule.png);background-size:100% 100%;background-repeat: no-repeat;">
            </div>
        </div>
        <!--我的奖品-->
        <a class="myprice" href="/index.php/Active/Active/prize_list/media_id/{$media_id}/entry_id/{$entry_id}">
            <span>我的奖品</span>
        </a>
        
        <!--//老虎机-->
        <div class="tiggerone">
            <div class="tiggerone-img"></div>
        </div>
        <div class="tiggertwo">
            <div class="tiggertwo-img"></div>
        </div>
        <div class="tiggerthree">
            <div class="tiggerthree-img"></div>
        </div>
        <!--老虎机按钮-->
        <img src="https://yun.yizhidayu.com/40-lucky-btn.png" alt="" class="tiggerbtn">
        <img src="https://yun.yizhidayu.com/40-lucky-btn2.png" alt="" class="tiggerbtn2">
        <!--撕票-->
        <img class="si-one" src="https://yun.yizhidayu.com/40-lucky-piao.png" alt="">
        <img class="si-two" src="https://yun.yizhidayu.com/40-lucky-piao.png" alt="">
        <img class="si-three" src="https://yun.yizhidayu.com/40-lucky-piao.png" alt="">
        <!--抽奖文字-->
        <div class="font">
            <p>剩余&nbsp;<span style="font-weight: bold;">{$times}</span>&nbsp;次机会</p>
        </div>
        <!--次数为0的时候显示的弹窗-->
        <div class="pop2" style="z-index:100;">
            <div class="velocity">
                <div class="tomorrow">
                    <img style="position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;" src="https://yun.yizhidayu.com/common_end_21.png" alt="">
                </div>
                <section class="activetwo">
                    <img class="bg_two" src="https://yun.yizhidayu.com/common_two_21.png" alt="">
                    <a href="" class="boxone">
                        <img src="" alt="" class="active1">
                    </a>
                    <a href="" class="boxtwo">
                        <img src="" alt="" class="active2">
                    </a>
                    <img class="delete" src="https://yun.yizhidayu.com/common_pop2_close_21.png" alt="">
                </section>
                <section class="activeone">
                    <img class="bg_two" src="https://yun.yizhidayu.com/common_two_21.png" alt="">
                    <a href="" class="boxone">
                        <img src="" alt="" class="active1">
                    </a>
                    <img class="delete" src="https://yun.yizhidayu.com/common_pop2_close_21.png" alt="">
                </section>
            </div>
        </div>
        <!--//券的相关信息-->
        <div class="zhezhao">
            <img class="light" src="https://yun.yizhidayu.com/common_light_bg2_21.png" alt="">
            <div class="quan" style="background:url(https://yun.yizhidayu.com/common_bg_01_21.png);background-size:100% 100%;background-repeat: no-repeat;">
                <img src="https://yun.yizhidayu.com/common_cha_21.png" alt="" class="delete" id="delete">
                <img class="start" src="https://yun.yizhidayu.com/common_light01_21.png" alt="" >
                <img class="start" src="https://yun.yizhidayu.com/common_light02_21.png" alt="" >
                <section class="name"></section>
                <div class="linkone">
                    <img src="" alt="" class="quanimg">
                </div>
                <div class="linktwo">
                    <img src="https://yun.yizhidayu.com/common_btn_01_21.png" alt="">
                </div>
            </div>
        </div>
        <!--第一个弹窗  1个抽奖券-->
        <img src="https://yun.yizhidayu.com/40-lucky-yindao.png" alt="" class="zhezhao3">
    </section>
    <div class="sekuai" style="display: none;">*奖品和活动均与设备生产商Apple Inc.无关</div>
    <!--<a class="fubiaoBtn" href="http://www.chipshare.net/dayu/index.php/Activity/Index/index/media_id/{$media_id}/entry_id/{$entry_id}/type/2">-->
    <!--<img id="fubiao" src="http://ow5nmmz7d.bkt.clouddn.com/11_fubiao.gif" alt="">-->
    <!--</a>-->
    <!--//跳转页面-->
    <div class="jump" data-href="" style="display: none;"></div>
    <!--//用户点击领券发送ajax-->
    <div class="sendajax" style="display: none;"></div>
    <!--//用户的id-->
    <div class="userid" style="display: none;"></div>
    <div class="flag" style="display: none">0</div>
</div>

</body>
</html>
<script src="/Public/Active/common/js/jquery.fly.min.js"></script>
<script src="https://cdn.bootcss.com/touchjs/0.2.14/touch.min.js"></script>

<script>
    window.onload=function() {

        if(localStorage.aa){

        }else{
            localStorage.aa="yes";
            $(".zhezhao3").show();
        }
        $(".zhezhao3").on("click",function(){
            $(".zhezhao3").hide();
        })

        //iphone
        var u = navigator.platform;
        if(u=="iPhone"){
            $('.sekuai').show();
        }
        /********************老虎机********************/
//        $(".tiggerone-img").addClass("cloud-one");
//        $(".tiggertwo-img").addClass("cloud-two");
//        $(".tiggerthree-img").addClass("cloud-three");
        /********************点击老虎机********************/
        $(".tiggerbtn").on("click",function(){
            var flag=$(".flag").html();
            if(flag=="1"){
                return;
            }else{
                //灰色按钮出现
                $(".tiggerbtn2").show();
                var num=$(".font p span").html();
                console.log(num)
                if (num > "0") {
                    //移除平常运动状态
//            $(".tiggerone-img").removeClass("cloud-one");
//            $(".tiggertwo-img").removeClass("cloud-two");
//            $(".tiggerthree-img").removeClass("cloud-three");
                    //恢复
//            $(".tiggerone-img").css("background-position","0 0");
//            $(".tiggertwo-img").css("background-position","0 -2rem");
//            $(".tiggerthree-img").css("background-position","0 -7rem");
                    //摇奖
                    $(".tiggerone-img").addClass("cloud");
                    $(".tiggertwo-img").addClass("cloud2");
                    $(".tiggerthree-img").addClass("cloud3");
                    var t=setTimeout(function(){
                        var time=$(".font p span").html();
                        if (time > "0") {
                            ajaxone();
                            popshow();
                        } else if(time == "0"){
                            $('.font p span').html("0");
                            ajaxzero();
                        }else{
                            $('.font p span').html("0");
                            ajaxzero();
                        }
                    },4800)
                } else if(num == "0"){
                    $('.font p span').html("0");
                    ajaxzero();
                }else{
                    $('.font p span').html("0");
                    ajaxzero();
                }
            }



        })


        /**************************撕票子******************/
        touch.on('.si-one', 'dragstart', function(ev) {
            $(".flag").html("1");
            var display=$(".tiggerbtn2").css("display");
            if(display=="block"){
                return;
            }else{
                var num=$(".font p span").html();
                if (num > "0") {
                    $(".si-one").addClass("slideInDown");
                    var t=setTimeout(function(){
                        $(".si-one").addClass("flop");
                    },500)
                    var t1=setTimeout(function(){
                        var time=$(".font p span").html();
                        if (time > "0") {
                            ajaxone();
                            popshow();
                        } else {
                            $('.font p span').html("0");
                            ajaxzero();
                        }
                    },1300)
                } else if(num == "0"){
                    $('.font p span').html("0");
                    ajaxzero();
                }else{
                    $('.font p span').html("0");
                    ajaxzero();
                }
            }

        });
        touch.on('.si-two', 'dragstart', function(ev) {
            $(".flag").html("1");
            var display=$(".tiggerbtn2").css("display");
            if(display=="block") {
                return;
            }else{
                var num=$(".font p span").html();
                if (num > "0") {
                    $(".si-two").addClass("slideInDown");
                    var t=setTimeout(function(){
                        $(".si-two").addClass("flop");
                    },500)
                    var t1=setTimeout(function(){
                        var time=$(".font p span").html();
                        if (time > "0") {
                            ajaxone();
                            popshow();
                        } else {
                            $('.font p span').html("0");
                            ajaxzero();
                        }
                    },1300)
                } else if(num == "0"){
                    $('.font p span').html("0");
                    ajaxzero();
                }else{
                    $('.font p span').html("0");
                    ajaxzero();
                }
            }
        });

        touch.on('.si-three', 'dragstart', function(ev) {
            $(".flag").html("1");
            var display=$(".tiggerbtn2").css("display");
            if(display=="block") {
                return;
            }else{
                var num=$(".font p span").html();
                if (num > "0") {
                    $(".si-three").addClass("slideInDown");
                    var t=setTimeout(function(){
                        $(".si-three").addClass("flop");
                    },500)
                    var t1=setTimeout(function(){
                        var time=$(".font p span").html();
                        if (time > "0") {
                            ajaxone();
                            popshow();
                        } else {
                            $('.font p span').html("0");
                            ajaxzero();
                        }
                    },1300)
                } else if(num == "0"){
                    $('.font p span').html("0");
                    ajaxzero();
                }else{
                    $('.font p span').html("0");
                    ajaxzero();
                }
            }
        });










        function popshow() {
            $('.zhezhao').show();
            $('.quan').show();
            //点击事件
            setTimeout(function () {
                $('.light').show();
            }, 1000);
            $('.zhezhao .quan').addClass('animated bounceUp');
        }

        //点击弹窗的xx让弹窗消失
        $('#delete').on("click", function () {
            //灰色按钮出现
            $(".tiggerbtn2").hide();
            //移除撕票子
            $(".si-one").removeClass("slideInDown");
            $(".si-one").removeClass("flop");
            $(".si-two").removeClass("slideInDown");
            $(".si-two").removeClass("flop");
            $(".si-three").removeClass("slideInDown");
            $(".si-three").removeClass("flop");
            //移除摇奖
            $(".tiggerone-img").removeClass("cloud");
            $(".tiggertwo-img").removeClass("cloud2");
            $(".tiggerthree-img").removeClass("cloud3");
//            //添加自然状态
//            $(".tiggerone-img").addClass("cloud-one");
//            $(".tiggertwo-img").addClass("cloud-two");
//            $(".tiggerthree-img").addClass("cloud-three");
            var num_fubiao = $('.font p span').html();
            if (num_fubiao == 0) {
                ajaxzero();
            }
            $('.quan').addClass("active");
            var t = setTimeout(function () {
                $('.zhezhao').css("display", "none");
            }, 500)
            $('.light').css("display", "none");
            var tt = setTimeout(function () {
                var tt = setTimeout(function () {
                    var width = $('.myprice').css("width");
                    var newwidth = width.replace("px", "") - 15;
                    $('<div class="test"></div>').fly({
                        start: {top: 200, left: 150},
                        end: {top: 24, left: newwidth, width: 10, height: 10},
                        onEnd: function () {
                            $('.quan').removeClass("active");
                        }
                    });
                }, 500);
            })
        })
        //点击明日再来消失
        $('.velocity .tomorrow').on("click", function () {
            $('.pop2').css("display", "none");
        })


        //转盘自己慢慢转
        $('.zhuan').addClass("rotate_2");

        //定义的参数
        function lott() {
            $('.zhuan').removeClass("rotate_2");
            $('.zhuan').addClass("rotate_3");
            var t = setTimeout(function () {
                $('.zhuan').addClass("rotate_2");
                $('.zhuan').removeClass("rotate_3");
                popshow();
                //指针出来
                $('.zhen').css("display", "block");
            }, 1700);
        };


        //点击规则规则从上而下出来
        $('.rule').on("click", function () {
            $('.rulefont').slideToggle();
            var display = $('.zhezhao2').css("display");
            if (display == "none") {
                $('.zhezhao2').css("display", "block");
                $('.myprice').hide();
                $('.test').hide();
            } else if (display == "block") {
                $('.zhezhao2').css("display", "none");
                $('.myprice').show(500);
                $('.test').show(500);
            }
        })

        //次数为0的时候第二个弹窗显现
        function pop2Show() {
            $('.pop2').show();
        }

        //点击活动的八叉
        $('.delete').on("click", function () {
            $('.pop2').hide();
        })

        //发送ajax
// 点击抽奖时向后台传值
        function ajaxone() {
            $.ajax({
                url: "/index.php/Active/Ajax/run.html",
                type: "POST",
                dataType: "json",
                data: {
                    uid: "{$uid}",
                    media_id: "{$media_id}",
                    entry_id: "{$entry_id}",
                    active_id: "{$active_id}",
                },
                success: function (data) {
                    if (data.status == 1) {
                        $(".font p span").html(data.last);
                        var result = data.prize;
                        $('.userid').html(data.recordID);
                        $('.quanimg').attr('src', result.pic);
                        $('.name').html(result.name);
                        $('.jump').attr("data-href",result.href);
                    } else if (data.status == 0) {
                        alert("活动暂未开放");
                    }
                }
            })
        }

        //点击图片
        $("img.quanimg").on("click", function () {

            $(".zhezhao").hide();
            $('.quan').hide();
            $('.light').hide();
            //点击领券
            handleClickAjax();
        })
        //点击立即领取
        $('.linktwo img').on("click", function () {

            $(".zhezhao").hide();
            $('.quan').hide();
            $('.light').hide();
            //点击领券
            handleClickAjax();
        })

        // 点击领取发送ajax
        function handleClickAjax() {
            var id = $('.userid').html();
            $.ajax({
                url: "/index.php/Active/Ajax/receive.html",
                type: "post",
                data: {
                    uid: "{$uid}",
                    media_id: "{$media_id}",
                    entry_id: "{$entry_id}",
                    active_id: "{$active_id}",
                    record_id: id,
                },
                dataType: "json",
                success: function (result) {
                    if (result.status == 1) {
                        $('.sendajax').html("yes");
                        window.location.href = $('.jump').attr("data-href");
                    } else if (result.status == 0) {
                        alert("程序员被台风吹走了");
                    } else {
                        alert("程序员离开一小会");
                    }
                },
            });
        }

        // 点击以后抽奖次数为0时发送请求
        function ajaxzero() {
            $.ajax({
                url: "/index.php/Active/Ajax/active_data.html",
                type: "post",
                data: {
                    'activity_id': "{$activity_id}",
                    'uid': "{$uid}",
                    'entry_id': "{$entry_id}",
                    'media_id': "{$media_id}"
                },
                dataType: "json",
                success: function success(result) {
                    if (result.status == 0) {
                        var data = result.active;
                        $(".zhezhao").css("display", "none");
                        pop2Show();
                        if (data.length == 1) {
                            $('.activeone').addClass('animated bounceInDown');
                            $('.activeone').css("display", "block");
                            $('.boxone img').attr("src", data[0].pic);
                            $('.boxone').attr("href", "/index.php/Active/Active/index.html?media_id={$media_id}&entry_id={$entry_id}&active_id=" + data[0].id);
                        } else if (data.length > 1) {
                            //two
                            $('.activetwo').addClass('animated bounceInDown');
                            $('.activetwo').css("display", "block");
                            $('.boxone img').attr("src", data[0].pic);
                            $('.boxtwo img').attr("src", data[1].pic);
                            $('.boxone').attr("href", "/index.php/Active/Active/index.html?media_id={$media_id}&entry_id={$entry_id}&active_id=" + data[0].id);
                            $('.boxtwo').attr("href", "/index.php/Active/Active/index.html?media_id={$media_id}&entry_id={$entry_id}&active_id=" + data[1].id);
                        } else if (data.length == 0) {
                            $('.tomorrow').show();
                        }
                    } else {
                        return;
                    }
                }
            });
        }

    };
    function check(){
        $.ajax({
            url:"/index.php/Active/Ajax/check.html",
            type:"POST",
            dataType:"json",
            data:{
                uid:"{$uid}",
            },                                                   
        });	
    }   
    check();  
</script>