<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js'></script>
    <script src='/test/Public/Activity/js/intercept.js?version=1.2'></script>
    <script>
    //intercept page
    intercept('{$member_id}','{$intercept}');
    //font resize standard for iphone6
    $(window).width()>540?$('html').css('font-size',''+540/375*312.5+'%'):$('html').css('font-size',''+$(window).width()/375*312.5+'%');
    window.onresize = function(){$(window).width()>540?$('html').css('font-size',''+540/375*312.5+'%'):$('html').css('font-size',''+$(window).width()/375*312.5+'%')};
    </script>
    <script src="/test/Public/Activity/14_xie_zhua/js/loading.js"></script>
    <link rel="stylesheet" href="/test/Public/Activity/common/css/1031_common.css">
    <link rel="stylesheet" href="/test/Public/Activity/52_scratch_twelve/css/index.css">
    <link rel="stylesheet" href="/test/Public/Activity/52_scratch_twelve/css/lucky-card.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/4.0.0-beta.4/css/swiper.min.css">
    <link rel="stylesheet" href="/test/Public/Activity/45_dug_gu/css/demo.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/test/Public/Activity/45_dug_gu/css/sweet-alert.css">
    <script src="/test/Public/Activity/common/js/lucky-card.min.js"></script>
    <script src="/test/Public/Activity/common/js//swiper.min.js"></script>
    <title>{$tempInfo['title']}</title>
    <!-- Baidu Statistics -->

</head>
<body>
<div class="content">
    <section class="box" style="background-image:url(https://yun.yizhidayu.com/52-twelve-bg.jpg);background-size:100% 100%;background-repeat: no-repeat;">
        <div class="zhezhao2"></div>
        <!--提示红包雨信息   -->
        <img class="tishi" src="https://yun.yizhidayu.com/41-jian-newplane1.png" alt="">
        <!--红包雨-->
        <div class="hbrain">
            <ul class="couten">
            </ul>
            <div class="mo2">
                <span>8</span>
            </div>
            <img src="https://yun.yizhidayu.com/common-rain-bottom.png" alt="" class="rain-bottom">
            <!--<div class="backward">-->
            <!--<span></span>-->
            <!--</div>-->
        </div>



        <!--蛋蛋-->
        <section class="dugzhezhao"></section>

        <img src="https://yun.yizhidayu.com/49-scene-rabbit.gif" alt="" class="person">

        <!--规则内容-->
        <div class="rule_content">
            <div class="rulefont">
                <h2><span></span>&nbsp;活动说明&nbsp;<span></span></h2>
                <p>双十二狂欢<br>
                    <br>
                    活动说明：参与活动即有机会获得幸运大奖，每天有{$tempInfo['times']}次免费刮奖机会。此活动为概率中奖，奖品数量有限<br>
                    <br>
                    惊喜一：红包500元<br>
                    惊喜二：红包300元<br>
                    惊喜三：红包200元<br>
                    惊喜四：红包100元<br>
                    兑换项和活动均与设备生产商Apple lnc.无关</p>
            </div>
            <!--规则-->
            <div class="rule" style="background:url(https://yun.yizhidayu.com/52-twelve-rule.png);background-size:100% 100%;background-repeat: no-repeat;">
            </div>
        </div>
        <!--我的奖品-->
        <a class="myprice" href="/index.php/Active/Active/prize_list/media_id/{$media_id}/entry_id/{$entry_id}">
            <span>我的奖品</span>
        </a>
        <!--转盘-->
        <div id="scratch">
            <img src="https://yun.yizhidayu.com/52-twelve-guabg.png" alt="" class="disk1">
            <!--<img src="https://yun.yizhidayu.com/34-scratch-line2.png" alt="" class="disk2">-->
            <div id="card">
                <img style="height: 2rem;width: 4.2rem;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;" class="img_gua" src="" alt="">
            </div>
        </div>
        <!--//手指-->
        <img src="https://yun.yizhidayu.com/27-scratch-point.png" alt="" id="point">
        <!--底部-->
        <!--<img src="https://yun.yizhidayu.com/common_price_21.png" alt="" class="price">-->
        <div class="swiper-container" id="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="photo" src="https://yun.yizhidayu.com/52-twelve-price1.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="photo" src="https://yun.yizhidayu.com/52-twelve-price2.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="photo" src="https://yun.yizhidayu.com/52-twelve-price3.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="photo" src="https://yun.yizhidayu.com/52-twelve-price4.png" alt="">
                </div>
            </div>
        </div>
        <!--抽奖文字-->
        <div class="font">
            <p>您还有 &nbsp;<span>{$times}</span>&nbsp;次抽奖机会</p>
        </div>
        <!--次数为0的时候显示的弹窗-->
        <div class="pop2" style="z-index:100;">
            <div class="velocity">
                <div class="tomorrow">
                    <img style="position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;" src="https://yun.yizhidayu.com/common_end_21.png" alt="">
                </div>
                <section class="activetwo">
                    <img class="bg_two" src="https://yun.yizhidayu.com/common_two_21.png" alt="">
                    <a href="" class="boxone">
                        <img src="" alt="" class="active1">
                    </a>
                    <a href="" class="boxtwo">
                        <img src="" alt="" class="active2">
                    </a>
                    <img class="delete" src="https://yun.yizhidayu.com/common_pop2_close_21.png" alt="">
                </section>
                <section class="activeone">
                    <img class="bg_two" src="https://yun.yizhidayu.com/common_two_21.png" alt="">
                    <a href="" class="boxone">
                        <img src="" alt="" class="active1">
                    </a>
                    <img class="delete" src="https://yun.yizhidayu.com/common_pop2_close_21.png" alt="">
                </section>
            </div>
        </div>


        <!--//券的相关信息-->
        <div class="zhezhao-three">
            <img class="light-three" src="http://ow5oe9l3t.bkt.clouddn.com/9_light_bg.png" alt="">
            <div class="quan-three" style="background:url(https://yun.yizhidayu.com/tc-rain-bg.png);background-size:100% 100%;background-repeat: no-repeat;">
                <img src="https://yun.yizhidayu.com/common-hb-tcdelete.png" alt="" class="delete" id="delete-three">
                <img class="start02-three" src="https://yun.yizhidayu.com/tc-rain-bg2.png" alt="">
                <img class="tc_one" src="https://yun.yizhidayu.com/tc-rain-b1.png" alt="">
                <img class="tc_two" src="https://yun.yizhidayu.com/tc-rain-b2.png" alt="">
                <img class="tc_three" src="https://yun.yizhidayu.com/tc-rain-b3.png" alt="">
                <img class="tc_four" src="https://yun.yizhidayu.com/tc-rain-b4.png" alt="">
                <img class="tc_five" src="https://yun.yizhidayu.com/tc-rain-b5.png" alt="">
                <img class="tc_six" src="https://yun.yizhidayu.com/tc-rain-b6.png" alt="">
                <img class="tc_seven" src="https://yun.yizhidayu.com/tc-rain-b7.png" alt="">
                <img class="tc_eight" src="https://yun.yizhidayu.com/tc-rain-b8.png" alt="">
                <img class="tc_nine" src="https://yun.yizhidayu.com/tc-rain-b9.png" alt="">
                <img class="tc_ten" src="https://yun.yizhidayu.com/tc-rain-b10.png" alt="">
                <img class="tc_eleven" src="https://yun.yizhidayu.com/tc-rain-b11.png" alt="">
                <img class="tc_twelve" src="https://yun.yizhidayu.com/tc-rain-b12.png" alt="">
                <img class="tc_thirty" src="https://yun.yizhidayu.com/tc-rain-b13.png" alt="">
                <section class="name-three"></section>
                <div class="linkone-three">
                    <img src="https://yun.yizhidayu.com/tc-rain-box.png" alt="" class="tc-box">
                    <img src="" alt="" class="quanimg-three">
                </div>
                <div class="linktwo-three">
                    <img src="https://yun.yizhidayu.com/tc-rain-btn.png" alt="">
                </div>
            </div>
        </div>


        <!--//券的相关信息-->
        <div class="zhezhao">
            <img class="light" src="https://yun.yizhidayu.com/common_light_bg2_21.png" alt="">
            <div class="quan" style="background:url(https://yun.yizhidayu.com/common_bg_01_21.png);background-size:100% 100%;background-repeat: no-repeat;">
                <img src="https://yun.yizhidayu.com/common_cha_21.png" alt="" class="delete" id="delete">
                <img class="start" src="https://yun.yizhidayu.com/common_light01_21.png" alt="" >
                <img class="start" src="https://yun.yizhidayu.com/common_light02_21.png" alt="" >
                <section class="name"></section>
                <div class="linkone">
                    <img src="" alt="" class="quanimg">
                </div>
                <div class="linktwo">
                    <img src="https://yun.yizhidayu.com/common_btn_01_21.png" alt="">
                </div>
            </div>
        </div>


        <!--第一个弹窗  1个抽奖券-->
    </section>
    <!--<a class="fubiaoBtn" href="http://www.chipshare.net/dayu/index.php/Activity/Index/index/media_id/{$media_id}/entry_id/{$entry_id}/type/2">-->
        <!--<img id="fubiao" src="http://ovyb6evrq.bkt.clouddn.com/17_fubiao.gif" alt="">-->
    <!--</a>-->
    <div class="apple">*奖品和活动均与设备生产商Apple Inc.无关</div>
    <!--//跳转页面-->
    <div class="jump" data-href="" style="display: none;"></div>
    <!--//用户点击领券发送ajax-->
    <div class="sendajax" style="display: none;"></div>
    <!--//用户的id-->
    <div class="userid" style="display: none;"></div>


</div>
<!--/与苹果官方无关/-->

</body>
</html>
<script>
    window.onload=function(){
        $(".person").addClass("trans");
        $(".person").on("touchend",function(){
            window.location.href="https://www.yizhidayu.com/index.php/Active/Active/index/media_id/{$media_id}/entry_id/{$entry_id}/active_id/75";
        });

        //****************************天降红包**********************************************
        //红包雨
        var win = (parseInt($(".couten").css("width"))+180);
        $(".mo").css("height", $(document).height());
        $(".couten").css("height", $(document).height());
        $(".backward").css("height", $(document).height());
        $("li").css({});
        // 点击确认的时候关闭模态层
        $(".sen a").click(function(){
            $(".mo").css("display", "none")
        });

        var del = function(){
            nums++;
            //					console.info(nums);
            //					console.log($(".li" + nums).css("left"));
            $(".li" + nums).remove();
            setTimeout(del,200)
        }

        var add = function() {
            var hb = parseInt(Math.random() * (3 - 1) + 1);
            var Wh = parseInt(Math.random() * (90 - 30) + 20);
            var Left = parseInt(Math.random() * (win - 0) + 0);
            var rot = (parseInt(Math.random() * (45 - (-45)) - 45)) + "deg";
            //				console.log(rot)
            num++;
            $(".couten").append("<li class='li" + num + "' ><img src='https://yun.yizhidayu.com/common-newrain2-hb.png'></li>");
            $(".li" + num).css({
                "left": Left,
            });
            $(".li" + num + " a img").css({
                "width": 80,
                "transform": "rotate(" + rot + ")",
                "-webkit-transform": "rotate(" + rot + ")",
                "-ms-transform": "rotate(" + rot + ")", /* Internet Explorer */
                "-moz-transform": "rotate(" + rot + ")", /* Firefox */
                "-webkit-transform": "rotate(" + rot + ")",/* Safari 和 Chrome */
                "-o-transform": "rotate(" + rot + ")" /* Opera */
            });
            $(".li" + num).animate({'top':$(window).height()+0},3000,function(){
                //删掉已经显示的红包
                this.remove();
            });
            //点击红包的时候弹出模态层
            $(".li" + num).click(function(){
                var arr=["https://yun.yizhidayu.com/common-rain2-click.png","https://yun.yizhidayu.com/common-rain2-click.png"];
                var index = Math.floor((Math.random()*arr.length));
//            alert(arr[index]);
                $(this).children("img").attr("src",arr[index]);
            });
            setTimeout(add,350);
        };

        // //增加红包
        var num = 0;
        //     setTimeout(add,3000);

        // //倒数计时
        var backward = function(){
            var numz=$(".mo2 span").html();
            numz--;
            if(numz>=0){
                $(".mo2 span").html(numz);
            }
            setTimeout(backward,1000)
        }
        //     var numz = 10;
        //天降红包弹窗出现
        function popshow3(){
            $('.zhezhao-three').show();
            $('.quan-three').show();
            //点击事件
            setTimeout(function(){
                $('.light-three').show();
            },1000);
            $('.zhezhao-three .quan-three').addClass('animated bounceUp');
        }
        //天降红包XX
        $('#delete-three').on("click",function() {
            //可以点击
            $('.dugzhezhao').hide();
            //恢复原状
            $('.dug div img:first-child').attr("src","https://yun.yizhidayu.com/50_dug_twelveDug.png");
            $('.hummer').css({top:"3rem",right:"0.2rem"});
            //浮标出来
            var num_fubiao=$('.font p span').html();
            if(num_fubiao==0){
                ajaxzero();
            }
//            if(num_fubiao==5){
//                $('#fubiao').show();
//            }
            $('.quan-three').addClass("active");
            $('.tc2-three').hide();
            var t=setTimeout(function(){
                $('.zhezhao-three').css("display","none");
                $(".hbrain").hide();
                $('#point').show();
            },500);
            $('.light-three').css("display","none");
            var tt=setTimeout(function(){
                var width=$('.myprice').css("width");
                var newwidth=width.replace("px","")-15;
                $('<div class="test"></div>').fly({
                    start: {top: 200, left: 150},
                    end: {top: 24, left: newwidth, width: 10, height: 10},
                    onEnd: function(){
                        $('.quan').removeClass("active");
                    }
                });
            },500);
        })

        //天降红包领取
        //点击图片
        $("img.quanimg-three").on("click",function(){
            //可以点击
            $('.dugzhezhao').hide();
            //恢复原状
            $('.dug div img:first-child').attr("src","https://yun.yizhidayu.com/50_dug_twelveDug.png");
//            $('.dug div img').addClass("jump");
            $('.hummer').css({top:"3rem",right:"0.2rem"});
            $(".hbrain").hide();
            $(".zhezhao-three").hide();
            $('.quan-three').hide();
            $('.light-three').hide();
            //点击领券
            handleClickAjax();
        })
        //点击立即领取
        $('.linktwo-three img').on("click",function(){
            //可以点击
            $('.dugzhezhao').hide();
            //恢复原状
            $('.dug div img:first-child').attr("src","https://yun.yizhidayu.com/50_dug_twelveDug.png");
            $('.hummer').css({top:"3rem",right:"0.2rem"});
            $(".hbrain").hide();
            $(".zhezhao-three").hide();
            $('.quan-three').hide();
            $('.light-three').hide();
            //点击领券
            handleClickAjax();
        })

        // 点击抽奖时向后台传值
        function ajaxthree() {
            $.ajax({
                url:"/index.php/Active/Ajax/run.html",
                type:"POST",
                dataType:"json",
                data:{
                    uid:"{$uid}",
                    media_id:"{$media_id}",
                    entry_id:"{$entry_id}",
                    active_id:"{$active_id}",
                },
                success: function(data) {
                    if(data.status==1){
                        $(".font p span").html(data.last);
                        var result=data.prize;
                        $('.userid').html(data.recordID);
                        $('.quanimg-three').attr('src', result.pic);
                        $('.name-three').html(result.name);
                        $('.jump').attr("data-href",result.href);
                    }else if(data.status==0){
                        alert("活动暂未开放");
                    }
                }
            })
        }
        //****************************天降红包**********************************************






        var u = navigator.platform;
        if(u=="iPhone"){
            $('.apple').show();
        }

        //换灯


        var swiper = new Swiper('.swiper-container',{
            slidesPerView: 4,
        });

        $('#point').addClass("move");
        // 初始化抽奖
        var lott_num;
        beforeTouch();
        function beforeTouch() {
            $('#cover').on("touchmove",function(e){
                e.preventDefault();
            })
            var lottNum = $(".font p span").html(); // 获取抽奖次数
            if(lottNum > 0) { // 抽奖次数大于0时可抽奖
                LuckyCard.case({
                    coverImg:'/test/Public/Activity/52_scratch_twelve/img/52-twelve-gua.png',
                    ratio: 0.3,
                    callback: function(){
                        lottNum--;
                        $(".font p span").html(lottNum);
                        if(lottNum===0){
                            $('#delete').on("touchend",function(){
                                ajaxzero();
                            })
                        }
                        this.clearCover();
                        $("#scratch #cover").remove();
                        popshow();
                    }
                });
                //初始化刮刮卡后监听touch事件
                var flag=true;
                setTimeout(function(){
                    $('#cover').on("touchstart ", function(){
                        $('#point').hide();
                        if(flag){
                            flag=false;
                            ajaxone(); // 向后台发送数据
                            $('.img_gua').attr("src","");
                        }
                    });
                }, 20)
            }else{
                $('#card').text("今天抽奖次数已用完");
                LuckyCard.case({
                    coverImg:'/test/Public/Activity/52_scratch_twelve/img/52-twelve-gua.png',
                    ratio: 0.3,
                    callback: function(){
                        ajaxzero(); // 抽奖次数为0时向后台发送状态，请求相关数据
                    }
                });
            }
        }

        var flagqq=true;
        function popshow(){
            $('.quan').addClass("bgone");
            $('.zhezhao').show();
            $('.quan').show();
            //点击事件
            setTimeout(function(){
                $('.linkone').addClass('qq');
                $('.light').show();
            },1000);

            $('.zhezhao .quan').addClass('animated bounceUp');
            beforeTouch();
        }

        //点击弹窗的xx让弹窗消失
//        var num01=0;
        $('#delete').on("touchend",function(){
            //移除
            $('.linkone').removeClass('qq');
            //浮标出来
            var num_fubiao=$('.font p span').html();
            if(num_fubiao==0){
                ajaxzero();
            }else if(num_fubiao==5){
                $(".hbrain").show();
                $(".tishi").show();
                $(".rain-bottom").show();
                backward();
                var t1=setTimeout(function(){
                    $(".mo2").show();
                    add();
                },3200);
                var tt=setTimeout(function(){
                    $(".dugzhezhao").show();
                    $(".couten").hide();
//                    $(".mo2").hide();
                    ajaxthree();
                    var t=setTimeout(function(){
                        popshow3();
                    },1000);
                },8000);
            }

            $('.quan').addClass("active");
            var t=setTimeout(function(){
                $('.zhezhao').css("display","none");
                $('.quan').removeClass('bgone');
                $('#point').show();
            },500);
            $('.light').css("display","none");
            var tt=setTimeout(function(){
                $('.quan').removeClass("active");
            },500);
        })
        //点击明日再来消失
        $('.velocity .tomorrow').on("touchend",function(){
            $('.pop2').css("display","none");
        })

        //点击规则规则从上而下出来
        $('.rule').on("touchend",function(){
            $('.rulefont').slideToggle();
            var display=$('.zhezhao2').css("display");
            if(display=="none"){
                $('.zhezhao2').css("display","block");
                $('.myprice').hide();
                $('.test').hide();
            }else if(display=="block"){
                $('.zhezhao2').css("display","none");
                $('.myprice').show(500);
                $('.test').show(500);
            }
        })
        //次数为0的时候第二个弹窗显现
        function pop2Show(){
            $('.pop2').show();
        }
        //点击活动的八叉
        $('.delete').on("touchend",function(){
            $('.pop2').hide();
        })
        // 点击抽奖时向后台传值
        function ajaxone() {
            $.ajax({
                url:"/index.php/Active/Ajax/run.html",
                type:"POST",
                dataType:"json",
                data:{
                    uid:"{$uid}",
                    media_id:"{$media_id}",
                    entry_id:"{$entry_id}",
                    active_id:"{$active_id}",
                },
                success: function(data) {
                    if(data.status==1){
                        $(".font p span").html(data.last);
                        var result=data.prize;
                        $('.userid').html(data.recordID);
                        $('.quanimg').attr('src', result.pic);
                        $('.name').html(result.name);
                        $('.jump').attr("data-href",result.href);
                        $('.img_gua').attr("src",result.pic);
                    }else if(data.status==0){
                        alert("活动暂未开放");
                    }
                }
            })
        }
        //点击图片时发送请求,
        $("img.quanimg").on("touchend",function(){
            $('.quan').removeClass("active");
            //可以点击
            $('.dugzhezhao').hide();
            //恢复原状
            $('.dug div img:first-child').attr("src","http://ovxy8cacs.bkt.clouddn.com/dug_dandan.png");
//            $('.dug div img').addClass("jump");
            $('.hummer').css({top:"3rem",right:"0.2rem"});
            $(".zhezhao").hide();
            $('.quan').hide();
            $('.light').hide();

            //点击领券
            handleClickAjax();
        })
        //点击立即领取时发送ajax
        $('.linktwo img').on("touchend",function(){
            //可以点击
            $('.dugzhezhao').hide();
            //恢复原状
            $('.dug div img:first-child').attr("src","http://ovxy8cacs.bkt.clouddn.com/dug_dandan.png");
            $('.hummer').css({top:"3rem",right:"0.2rem"});
            $(".zhezhao").hide();
            $('.quan').hide();
            $('.light').hide();
            //点击领券
            handleClickAjax();
        })
        // 点击领取发送ajax
        function handleClickAjax(a) {
            var id=$('.userid').html();
            $.ajax({
                url: "/index.php/Active/Ajax/receive.html",
                type: "post",
                data: {
                    uid:"{$uid}",
                    media_id:"{$media_id}",
                    entry_id:"{$entry_id}",
                    active_id:"{$active_id}",
                    record_id:id,
                },
                dataType: "json",
                success: function(result) {
                    if(result.status==1){
                        $('.sendajax').html("yes");
                        window.location.href=$('.jump').attr("data-href");
                    }else if(result.status==0){
                        alert("程序员被台风吹走了");
                    }else{
                        alert("程序员离开一小会");
                    }
                },
            });
        }
        // 点击以后抽奖次数为0时发送请求
        function ajaxzero(){
            $.ajax({
                url: "/index.php/Active/Ajax/active_data.html",
                type: "post",
                data: {
                    'activity_id':"{$activity_id}",
                    'uid':"{$uid}",
                    'entry_id':"{$entry_id}",
                    'media_id': "{$media_id}"
                } ,
                dataType: "json",
                success: function success(result) {
                    if(result.status == 0) {
                        var data = result.active;
                        $(".zhezhao").css("display","none");
                        pop2Show();
                        if(data.length == 1) {
                            $('.activeone').addClass('animated bounceInDown');
                            $('.activeone').css("display","block");
                            $('.boxone img').attr("src",data[0].pic);
                            $('.boxone').attr("href","/index.php/Active/Active/index.html?media_id={$media_id}&entry_id={$entry_id}&active_id="+data[0].id);
                        }else if(data.length>1) {
                            //two
                            $('.activetwo').addClass('animated bounceInDown');
                            $('.activetwo').css("display","block");
                            $('.boxone img').attr("src",data[0].pic);
                            $('.boxtwo img').attr("src",data[1].pic);
                            $('.boxone').attr("href","/index.php/Active/Active/index.html?media_id={$media_id}&entry_id={$entry_id}&active_id="+data[0].id);
                            $('.boxtwo').attr("href","/index.php/Active/Active/index.html?media_id={$media_id}&entry_id={$entry_id}&active_id="+data[1].id);
                        }else if(data.length==0){
                            $('.tomorrow').show();
                        }
                    } else {
                        return;
                    }
                }
            });
        }

    }
    function check(){
        $.ajax({
            url:"/index.php/Active/Ajax/check.html",
            type:"POST",
            dataType:"json",
            data:{
                uid:"{$uid}",
            },
        });
    }
    check();
</script>