<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta https-equiv="X-UA-Compatible" content="ie=edge">
    <script src='{:C('Public')}/Active/common/js/jquery.min.js'></script>
    <script src='{:C('Public')}/Active/common/js/intercept.js?version=1.2'></script>
    <script>
    //intercept page
    intercept('{$member_id}','{$intercept}');
    //font resize standard for iphone6
    $(window).width()>540?$('html').css('font-size',''+540/375*312.5+'%'):$('html').css('font-size',''+$(window).width()/375*312.5+'%');
    window.onresize = function(){$(window).width()>540?$('html').css('font-size',''+540/375*312.5+'%'):$('html').css('font-size',''+$(window).width()/375*312.5+'%')};
    </script>
    <script src="/Public/Active/14_xie_zhua/js/loading.js"></script>
    <link rel="stylesheet" href="/Public/Active/common/css/1031_common.css">
    <link rel="stylesheet" href="/Public/Active/64_dug_newyear/css/demo.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Public/Active/64_dug_newyear/css/sweet-alert.css">
    <link rel="stylesheet" href="/Public/Active/64_dug_newyear/css/index.css">
    <link rel="stylesheet" href="/Public/Active/common/css/swiper.css">
    <script src="/Public/Active/common/js/jquery.fly.min.js"></script>
    <script src="/Public/Active/common/js//swiper.min.js"></script>
    <title>{$tempInfo['title']}</title>
    <!-- Baidu Statistics -->
    <script src="{:C('Public')}/Active/common/js/baidu-census.js"></script>
</head>
<body>
<section class="box" style="background-image:url(https://yun.yizhidayu.com/64-dug-newyear-bj.jpg);background-size:100% 100%;background-repeat: no-repeat;">

    <img class="man" src="https://yun.yizhidayu.com/64-dug-newyearpersonnew.gif" alt="">
    <!--提示红包雨信息   -->
    <img class="tishi" src="https://yun.yizhidayu.com/41-jian-newplane1.png" alt="">
    <!--红包雨-->
    <div class="hbrain">
        <ul class="couten">
        </ul>
        <div class="mo2">
            <span>7</span>
        </div>
        <img src="https://yun.yizhidayu.com/common-rain-bottom.png" alt="" class="rain-bottom">
        <!--<div class="backward">-->
        <!--<span></span>-->
        <!--</div>-->
    </div>

    <!--蛋蛋-->
    <section class="dugzhezhao"></section>
    <section class="dug">
        <div>
            <img class="one" src="https://yun.yizhidayu.com/64-dug-newyear-dug.png" alt="">
            <img  src="https://yun.yizhidayu.com/64-dug-newyear-shaow.png" alt="">
        </div>
        <div>
            <img class="two" src="https://yun.yizhidayu.com/64-dug-newyear-dug.png" alt="">
            <img src="https://yun.yizhidayu.com/64-dug-newyear-shaow.png" alt="">
        </div>
        <div>
            <img class="three" src="https://yun.yizhidayu.com/64-dug-newyear-dug.png" alt="">
            <img src="https://yun.yizhidayu.com/64-dug-newyear-shaow.png" alt="">
        </div>
        <div>
            <img class="four" src="https://yun.yizhidayu.com/64-dug-newyear-dug.png" alt="">
            <img src="https://yun.yizhidayu.com/64-dug-newyear-shaow.png" alt="">
        </div>
        <div>
            <img class="five" src="https://yun.yizhidayu.com/64-dug-newyear-dug.png" alt="">
            <img src="https://yun.yizhidayu.com/64-dug-newyear-shaow.png" alt="">
        </div>
        <div>
            <img class="six" src="https://yun.yizhidayu.com/64-dug-newyear-dug.png" alt="">
            <img src="https://yun.yizhidayu.com/64-dug-newyear-shaow.png" alt="">
        </div>
    </section>
    <!--//抽奖机会-->
    <div class="font">
        <p>您还有&nbsp;<span>{$times}</span>&nbsp;次抽奖机会</p>
    </div>
    <!--//奖品列表-->
    <img src="https://yun.yizhidayu.com/64-dug-newyear-hummer.png" alt="" class="hummer">
    <img src="https://yun.yizhidayu.com/64-dug-newyear-prize.png" alt="" class="price">
    <div class="swiper-container" id="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="photo" src="https://yun.yizhidayu.com/64-dug-newyearprice1.png" alt="">
            </div>
            <div class="swiper-slide">
                <img class="photo" src="https://yun.yizhidayu.com/64-dug-newyear-price2.png" alt="">
            </div>
            <div class="swiper-slide">
                <img class="photo" src="https://yun.yizhidayu.com/64-dug-newyear-price3.png" alt="">
            </div>
            <div class="swiper-slide">
                <img class="photo" src="https://yun.yizhidayu.com/64-dug-newyear-price4.png" alt="">
            </div>
            <!--<div class="swiper-slide">-->
            <!--<img class="photo" src="https://yun.yizhidayu.com/45-dug-price5.png" alt="">-->
            <!--</div>-->
        </div>
    </div>
    <div class="pop2" style="z-index:100;">
        <div class="velocity">
            <div class="tomorrow">
                <img style="position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;" src="https://yun.yizhidayu.com/common_end_21.png" alt="">
            </div>
            <section class="activetwo">
                <img class="bg_two" src="https://yun.yizhidayu.com/common_two_21.png" alt="">
                <a href="" class="boxone">
                    <img src="" alt="" class="active1">
                </a>
                <a href="" class="boxtwo">
                    <img src="" alt="" class="active2">
                </a>
                <img class="delete deleteajax" src="https://yun.yizhidayu.com/common_pop2_close_21.png" alt="">
            </section>
            <section class="activeone">
                <img class="bg_two" src="https://yun.yizhidayu.com/common_two_21.png" alt="">
                <a href="" class="boxone">
                    <img src="" alt="" class="active1">
                </a>
                <img class="delete deleteajax" src="https://yun.yizhidayu.com/common_pop2_close_21.png" alt="">
            </section>
        </div>
    </div>
    <!--//券的相关信息-->
    <div class="zhezhao">
        <img class="light" src="https://yun.yizhidayu.com/42-whackMole-tclight.png" alt="">
        <div class="quan">
            <img class="bg" src="https://yun.yizhidayu.com/fulishe-newyear-newbg.png" alt="">
            <img class="quan-footer" src="https://yun.yizhidayu.com/fulishe-newyear-footer.png" alt="">
            <img class="quan-zhe" src="https://yun.yizhidayu.com/fulishe-newyear-zhe.png" alt="">
            <img src="https://yun.yizhidayu.com/fulishe-newyear-delete.png" alt="" class="quandelete" id="delete">
            <section class="name"></section>
            <div class="linkone">
                <img src="" alt="" class="quanimg">
            </div>
            <div class="linktwo">
                <img src="https://yun.yizhidayu.com/fulishe-newyear-btn.png" alt="">
            </div>
        </div>
    </div>

    <!--//券的相关信息-->
    <div class="zhezhao-three">
        <img class="light-three" src="http://ow5oe9l3t.bkt.clouddn.com/9_light_bg.png" alt="">
        <div class="quan-three" style="background:url(https://yun.yizhidayu.com/tc-rain-bg.png);background-size:100% 100%;background-repeat: no-repeat;">
            <img src="https://yun.yizhidayu.com/common-hb-tcdelete.png" alt="" class="delete" id="delete-three">
            <img class="start02-three" src="https://yun.yizhidayu.com/tc-rain-bg2.png" alt="">
            <img class="tc_one" src="https://yun.yizhidayu.com/tc-rain-b1.png" alt="">
            <img class="tc_two" src="https://yun.yizhidayu.com/tc-rain-b2.png" alt="">
            <img class="tc_three" src="https://yun.yizhidayu.com/tc-rain-b3.png" alt="">
            <img class="tc_four" src="https://yun.yizhidayu.com/tc-rain-b4.png" alt="">
            <img class="tc_five" src="https://yun.yizhidayu.com/tc-rain-b5.png" alt="">
            <img class="tc_six" src="https://yun.yizhidayu.com/tc-rain-b6.png" alt="">
            <img class="tc_seven" src="https://yun.yizhidayu.com/tc-rain-b7.png" alt="">
            <img class="tc_eight" src="https://yun.yizhidayu.com/tc-rain-b8.png" alt="">
            <img class="tc_nine" src="https://yun.yizhidayu.com/tc-rain-b9.png" alt="">
            <img class="tc_ten" src="https://yun.yizhidayu.com/tc-rain-b10.png" alt="">
            <img class="tc_eleven" src="https://yun.yizhidayu.com/tc-rain-b11.png" alt="">
            <img class="tc_twelve" src="https://yun.yizhidayu.com/tc-rain-b12.png" alt="">
            <img class="tc_thirty" src="https://yun.yizhidayu.com/tc-rain-b13.png" alt="">
            <section class="name-three"></section>
            <div class="linkone-three">
                <img src="https://yun.yizhidayu.com/tc-rain-box.png" alt="" class="tc-box">
                <img src="" alt="" class="quanimg-three">
            </div>
            <div class="linktwo-three">
                <img src="https://yun.yizhidayu.com/tc-rain-btn.png" alt="">
            </div>
        </div>
    </div>

    <!--规则内容-->
    <div class="zhezhao2"></div>
    <div class="rule_content">
        <div class="rulefont">
            <h2><span></span>&nbsp;活动说明&nbsp;<span></span></h2>
            <p>这个红包有点鼓<br>
                <br>
                活动说明：参与活动即有机会获得幸运大奖，每天有{$tempInfo['times']}次免费抽奖机会。此活动为概率中奖，奖品数量有限<br>
                <br>
                惊喜一：500元红包<br>
                惊喜二：300元红包<br>
                惊喜三：100元红包<br>
                惊喜四：红包福袋<br>
                兑换项和活动均与设备生产商Apple lnc.无关</p>
        </div>
        <!--规则-->
        <div class="rule" style="background:url(https://yun.yizhidayu.com/64-dug-newyear-rule.png);background-size:100% 100%;background-repeat: no-repeat;">
        </div>
    </div>
    <!--我的奖品-->
    <a class="myprice" href="/index.php/Active/Active/prize_list/media_id/{$media_id}/entry_id/{$entry_id}">
        <span>我的奖品</span>
    </a>
    <!--浮标-->
    <!--<a class="fubiaoBtn" href="https://www.chipshare.net/dayu/index.php/Activity/Index/index/media_id/{$media_id}/entry_id/{$entry_id}/type/2">-->
    <!--<img id="fubiao" src="https://ow5pnqstl.bkt.clouddn.com/8_fubiao.gif" alt="">-->
    <!--</a>-->
    <!--//跳转页面-->
    <div class="jump" data-href="" style="display: none;"></div>
    <!--//用户点击领券发送ajax-->
    <div class="sendajax" style="display: none;"></div>
    <!--//用户的id-->
    <div class="userid" style="display: none;"></div>


</section>
<div class="sekuai">*奖品和活动均与设备生产商Apple Inc.无关</div>
</body>
</html>
<script>
    $(".man").on("touchend",function(){
        window.location.href="https://www.yizhidayu.com/index.php/Active/Active/index/media_id/{$media_id}/entry_id/{$entry_id}/active_id/82";
    })

    //****************************天降红包**********************************************
    //红包雨
    var win = (parseInt($(".couten").css("width"))+180);
    $(".mo").css("height", $(document).height());
    $(".couten").css("height", $(document).height());
    $(".backward").css("height", $(document).height());
    $("li").css({});
    // 点击确认的时候关闭模态层
    $(".sen a").click(function(){
        $(".mo").css("display", "none")
    });

    var del = function(){
        nums++;
        //					console.info(nums);
        //					console.log($(".li" + nums).css("left"));
        $(".li" + nums).remove();
        setTimeout(del,200)
    }

    var add = function() {
        var hb = parseInt(Math.random() * (3 - 1) + 1);
        var Wh = parseInt(Math.random() * (90 - 30) + 20);
        var Left = parseInt(Math.random() * (win - 0) + 0);
        var rot = (parseInt(Math.random() * (45 - (-45)) - 45)) + "deg";
        //				console.log(rot)
        num++;
        $(".couten").append("<li class='li" + num + "' ><img src='https://yun.yizhidayu.com/common-newrain2-hb.png'></li>");
        $(".li" + num).css({
            "left": Left,
        });
        $(".li" + num + " a img").css({
            "width": 80,
            "transform": "rotate(" + rot + ")",
            "-webkit-transform": "rotate(" + rot + ")",
            "-ms-transform": "rotate(" + rot + ")", /* Internet Explorer */
            "-moz-transform": "rotate(" + rot + ")", /* Firefox */
            "-webkit-transform": "rotate(" + rot + ")",/* Safari 和 Chrome */
            "-o-transform": "rotate(" + rot + ")" /* Opera */
        });
        $(".li" + num).animate({'top':$(window).height()+0},3000,function(){
            //删掉已经显示的红包
            this.remove();
        });
        //点击红包的时候弹出模态层
        $(".li" + num).click(function(){
            var arr=["https://yun.yizhidayu.com/common-rain2-click.png","https://yun.yizhidayu.com/common-rain2-click.png"];
            var index = Math.floor((Math.random()*arr.length));
//            alert(arr[index]);
            $(this).children("img").attr("src",arr[index]);
        });
        setTimeout(add,350);
    };

    // //增加红包
    var num = 0;
    //     setTimeout(add,3000);

    // //倒数计时
    var backward = function(){
        var numz=$(".mo2 span").html();
        numz--;
        if(numz>=0){
            $(".mo2 span").html(numz);
        }
        setTimeout(backward,1000)
    }
    //     var numz = 10;
    //天降红包弹窗出现
    function popshow3(){
        $('.zhezhao-three').show();
        $('.quan-three').show();
        //点击事件
        setTimeout(function(){
            $('.light-three').show();
        },1000);
        $('.zhezhao-three .quan-three').addClass('animated bounceUp');
    }
    //天降红包XX
    $('#delete-three').on("click",function() {
        //可以点击
        $('.dugzhezhao').hide();
        //恢复原状
        $('.dug div img:first-child').attr("src","https://yun.yizhidayu.com/64-dug-newyear-dug.png");
        $('.hummer').css({top:"3rem",right:"0.2rem"});
        //浮标出来
        var num_fubiao=$('.font p span').html();
        if(num_fubiao==0){
            ajaxzero();
        }
//            if(num_fubiao==5){
//                $('#fubiao').show();
//            }
        $('.quan-three').addClass("active");
        $('.tc2-three').hide();
        var t=setTimeout(function(){
            $('.zhezhao-three').css("display","none");
            $(".hbrain").hide();
            $('#point').show();
        },500);
        $('.light-three').css("display","none");
        var tt=setTimeout(function(){
            var width=$('.myprice').css("width");
            var newwidth=width.replace("px","")-15;
            $('<div class="test"></div>').fly({
                start: {top: 200, left: 150},
                end: {top: 24, left: newwidth, width: 10, height: 10},
                onEnd: function(){
                    $('.quan').removeClass("active");
                }
            });
        },500);
    })

    //天降红包领取
    //点击图片
    $("img.quanimg-three").on("click",function(){
        //可以点击
        $('.dugzhezhao').hide();
        //恢复原状
        $('.dug div img:first-child').attr("src","https://yun.yizhidayu.com/64-dug-newyear-dug.png");
//            $('.dug div img').addClass("jump");
        $('.hummer').css({top:"3rem",right:"0.2rem"});
        $(".zhezhao-three").hide();
        $('.quan-three').hide();
        $('.light-three').hide();
        //点击领券
        handleClickAjax();
    })
    //点击立即领取
    $('.linktwo-three img').on("click",function(){
        //可以点击
        $('.dugzhezhao').hide();
        //恢复原状
        $('.dug div img:first-child').attr("src","https://yun.yizhidayu.com/64-dug-newyear-dug.png");
        $('.hummer').css({top:"3rem",right:"0.2rem"});
        $(".zhezhao-three").hide();
        $('.quan-three').hide();
        $('.light-three').hide();
        //点击领券
        handleClickAjax();
    })

    // 点击抽奖时向后台传值
    function ajaxthree() {
        $.ajax({
            url:"/index.php/Active/Ajax/run.html",
            type:"POST",
            dataType:"json",
            data:{
                uid:"{$uid}",
                media_id:"{$media_id}",
                entry_id:"{$entry_id}",
                active_id:"{$active_id}",
            },
            success: function(data) {
                if(data.status==1){
                    $(".font p span").html(data.last);
                    var result=data.prize;
                    $('.userid').html(data.recordID);
                    $('.quanimg-three').attr('src', result.pic);
                    $('.name-three').html(result.name);
                    $('.jump').attr("data-href",result.href);
                }else if(data.status==0){
                    alert("活动暂未开放");
                }
            }
        })
    }
    //****************************天降红包**********************************************







    //iphone
    var u = navigator.platform;
    if(u=="iPhone"){
        $('.sekuai').show();
    }
    //滚动
    var swiper = new Swiper('.swiper-container',{
        slidesPerView: 4,
    });

    //蛋蛋跳起来
    var t1=setTimeout(move1,0);
    function move1(){
        var t1=setInterval(move1,500);
        function move1(){
            $('.dug div:first-child img:first-child').animate({width:"2.75rem","margin-top":"-0.35rem"},"easing",function(){
                $(this).animate({width:"2.6rem","margin-top":"0rem"});
                clearInterval(t1);
            });
        }
    }
    var t2=setTimeout(move22,500);
    function move22(){
        var t2=setInterval(move2,500);
        function move2(){
            $('.dug div:nth-child(2) img:first-child').animate({width:"2.75rem","margin-top":"-0.35rem"},"easing",function(){
                $(this).animate({width:"2.6rem","margin-top":"0rem"});
                clearInterval(t2);
            });
        }
    }
    var t3=setTimeout(move33,1000);
    function move33(){
        var t3=setInterval(move3,500);
        function move3(){
            $('.dug div:nth-child(3) img:first-child').animate({width:"2.75rem","margin-top":"-0.35rem"},"easing",function(){
                $(this).animate({width:"2.6rem","margin-top":"0rem"});
                clearInterval(t3);
            });
        }
    }
    var t4=setTimeout(move44,1500);
    function move44(){
        var t4=setInterval(move4,500);
        function move4(){
            $('.dug div:nth-child(4) img:first-child').animate({width:"2.75rem","margin-top":"-0.35rem"},"easing",function(){
                $(this).animate({width:"2.6rem","margin-top":"0rem"});
                clearInterval(t4);
            });
        }
    }
    var t5=setTimeout(move55,2000);
    function move55(){
        var t5=setInterval(move5,500);
        function move5(){
            $('.dug div:nth-child(5) img:first-child').animate({width:"2.75rem","margin-top":"-0.35rem"},"easing",function(){
                $(this).animate({width:"2.6rem","margin-top":"0rem"});
                clearInterval(t5);
            });
        }
    }
    var t6=setTimeout(move66,2500);
    function move66(){
        var t6=setInterval(move6,500);
        function move6(){
            $('.dug div:nth-child(6) img:first-child').animate({width:"2.75rem","margin-top":"-0.35rem"},"easing",function(){
                $(this).animate({width:"2.6rem","margin-top":"0rem"});
                clearInterval(t6);
            });
        }
    }
    var t=setInterval(move,3000);
    function move (){
        var t1=setTimeout(move1,500);
        var t2=setTimeout(move22,1000);
        var t3=setTimeout(move33,1500);
        var t4=setTimeout(move44,2000);
        var t5=setTimeout(move55,2500);
        var t6=setTimeout(move66,3000);
    }
    //锤子自己动
    $(".hummer").addClass('add_transform');
    //点击
    $('.dug div img').on("click",function(evt){
        //锤子不动
        $(".hummer").removeClass('add_transform');
        var hummer=setTimeout(function(){
            $(".hummer").addClass('add_transform');
        },150);
        var lottNum = $(".font p span").html(); // 获取抽奖次数
        if(lottNum==0){
            $(".font p span").html("0");
            ajaxzero();
        }
        if(lottNum>0){
            //其他不能点击
            $(".dugzhezhao").show();
            var that=$(this);
            //加锤子
            if($(this).attr("class")=="one"){
                $(".hummer").animate({top:"3.8rem",right:"5.4rem"},500);
            }else if($(this).attr("class")=="two"){
                $(".hummer").animate({top:"3.8rem",right:"3rem"},500);
            }else if($(this).attr("class")=="three"){
                $(".hummer").animate({top:"3.8rem",right:"0.3rem"},500);
            }else if($(this).attr("class")=="four"){
                $(".hummer").animate({top:"6.2rem",right:"5.4rem"},500);
            }else if($(this).attr("class")=="five"){
                $(".hummer").animate({top:"6.2rem",right:"3rem"},500);
            }else if($(this).attr("class")=="six"){
                $(".hummer").animate({top:"6.2rem",right:"0.3rem"},500);
            }
            var time=setTimeout(function(){
                that.attr("src","https://yun.yizhidayu.com/64-dug-newyear-sui.png");
            },850);
            ajaxone();
        }
    });


    //点击deleteajax
    $(".deleteajax").on("touchend",function(){
        //可以点击
        $('.dugzhezhao').hide();
        //恢复原状
        $('.dug div img:first-child').attr("src","https://yun.yizhidayu.com/64-dug-newyear-dug.png");
        $('.hummer').css({top:"3rem",right:"0.2rem"});
    })

    //弹窗出现
    function popshow(){
        $('.zhezhao').show();
        $('.quan').show();
        //点击事件
        setTimeout(function(){
            $('.light').css("display","block");
            $(".tc2").show();
        },500);
        $('.zhezhao .quan').addClass('animated bounceUp');
    }
    //点击弹窗的xx让弹窗消失
    $('#delete').on("click",function(){
        //可以点击
        $('.dugzhezhao').hide();
        //恢复原状
        $('.dug div img:first-child').attr("src","https://yun.yizhidayu.com/64-dug-newyear-dug.png");
        $('.hummer').css({top:"3rem",right:"0.2rem"});
        //浮标出来
        var num_fubiao=$('.font p span').html();
        if(num_fubiao==0){
            ajaxzero();
        }else if(num_fubiao==6){
            $(".hbrain").show();
            $(".tishi").show();
            $(".rain-bottom").show();
            backward();
            var t1=setTimeout(function(){
                $(".mo2").show();
                add();
            },3200);
            var tt=setTimeout(function(){
                $(".dugzhezhao").show();
                $(".couten").hide();
//                    $(".mo2").hide();
                ajaxthree();
                var t=setTimeout(function(){
                    popshow3();
                },500);
            },6200);
        }
//            if(num_fubiao==5){
//                $('#fubiao').show();
//            }
        $('.quan').addClass("active");
        $('.tc2').hide();
        var t=setTimeout(function(){
            $('.zhezhao').css("display","none");
            $('#point').show();
        },500);
        $('.light').css("display","none");
        var tt=setTimeout(function(){
            var width=$('.myprice').css("width");
            var newwidth=width.replace("px","")-15;
            $('<div class="test"></div>').fly({
                start: {top: 200, left: 150},
                end: {top: 24, left: newwidth, width: 10, height: 10},
                onEnd: function(){
                    $('.quan').removeClass("active");
                }
            });
        },500);
    })
    //点击明日再来消失
    $('.velocity .tomorrow').on("click",function(){
        $('.pop2').css("display","none");
    })
    //点击规则规则从上而下出来
    $('.rule').on("click",function(){
        $('.rulefont').slideToggle();
        var display=$('.zhezhao2').css("display");
        $('rule_content').css("height","6.1rem");
        if(display=="none"){
            $('.zhezhao2').css("display","block");
            $('.myprice').hide(500);
            $('.test').hide();
        }else if(display=="block"){
            $('.zhezhao2').css("display","none");
            $('.myprice').show(500);
            $('.test').show(500);
        }
    })
    //次数为0的时候第二个弹窗显现
    function pop2Show(){
        $('.pop2').show();
    }
    //点击次数为0的时候的活动的八叉
    $('.delete').on("click",function(){
        $('.pop2').hide();
    })
    // 点击抽奖时向后台传值
    function ajaxone() {
        $.ajax({
            url:"/index.php/Active/Ajax/run.html",
            type:"POST",
            dataType:"json",
            data:{
                uid:"{$uid}",
                media_id:"{$media_id}",
                entry_id:"{$entry_id}",
                active_id:"{$active_id}",
            },
            success: function(data) {
                if(data.status==1){
                    $(".font p span").html(data.last);
                    var result=data.prize;
                    $('.userid').html(data.recordID);
                    $('.quanimg').attr('src', result.pic);
                    $('.name').html(result.name);
                    $('.jump').attr("data-href",result.href);
                    var t=setTimeout(function(){popshow();},1000)
                }else if(data.status==0){
                    ajaxzero();
                    return;
                }
            }
        })
    }
    //点击图片
    $("img.quanimg").on("click",function(){
        //可以点击
        $('.dugzhezhao').hide();
        //恢复原状
        $('.dug div img:first-child').attr("src","https://yun.yizhidayu.com/64-dug-newyear-dug.png");
//            $('.dug div img').addClass("jump");
        $('.hummer').css({top:"3rem",right:"0.2rem"});
        $(".zhezhao").hide();
        $('.quan').hide();
        $('.light').hide();
        //点击领券
        handleClickAjax();
    })
    //点击立即领取
    $('.linktwo img').on("click",function(){
        //可以点击
        $('.dugzhezhao').hide();
        //恢复原状
        $('.dug div img:first-child').attr("src","https://yun.yizhidayu.com/64-dug-newyear-dug.png");
        $('.hummer').css({top:"3rem",right:"0.2rem"});
        $(".zhezhao").hide();
        $('.quan').hide();
        $('.light').hide();
        //点击领券
        handleClickAjax();
    })
    // 点击领取发送ajax
    function handleClickAjax() {
        var id=$('.userid').html();
        $.ajax({
            url: "/index.php/Active/Ajax/receive.html",
            type: "post",
            data: {
                uid:"{$uid}",
                media_id:"{$media_id}",
                entry_id:"{$entry_id}",
                active_id:"{$active_id}",
                record_id:id,
            },
            dataType: "json",
            success: function(result) {
                if(result.status==1){
                    $('.sendajax').html("yes");
                    window.location.href=$('.jump').attr("data-href");
                }else if(result.status==0){
                    alert("程序员被台风吹走了");
                }else{
                    alert("程序员离开一小会");
                }
            },
        });
    }
    // 点击以后抽奖次数为0时发送请求
    function ajaxzero(){
        $.ajax({
            url: "/index.php/Active/Ajax/active_data.html",
            type: "post",
            data: {
                'activity_id':"{$activity_id}",
                'uid':"{$uid}",
                'entry_id':"{$entry_id}",
                'media_id': "{$media_id}"
            } ,
            dataType: "json",
            success: function success(result) {
                if(result.status == 0) {
                    var data = result.active;
                    $(".zhezhao").css("display","none");
                    pop2Show();
                    if(data.length == 1) {
                        $('.activeone').addClass('animated bounceInDown');
                        $('.activeone').css("display","block");
                        $('.boxone img').attr("src",data[0].pic);
                        $('.boxone').attr("href","/index.php/Active/Active/index.html?media_id={$media_id}&entry_id={$entry_id}&active_id="+data[0].id);
                    }else if(data.length>1) {
                        //two
                        $('.activetwo').addClass('animated bounceInDown');
                        $('.activetwo').css("display","block");
                        $('.boxone img').attr("src",data[0].pic);
                        $('.boxtwo img').attr("src",data[1].pic);
                        $('.boxone').attr("href","/index.php/Active/Active/index.html?media_id={$media_id}&entry_id={$entry_id}&active_id="+data[0].id);
                        $('.boxtwo').attr("href","/index.php/Active/Active/index.html?media_id={$media_id}&entry_id={$entry_id}&active_id="+data[1].id);
                    }else if(data.length==0){
                        $('.tomorrow').show();
                    }
                } else {
                    return;
                }
            }
        });
    }

    function check(){
        $.ajax({
            url:"/index.php/Active/Ajax/check.html",
            type:"POST",
            dataType:"json",
            data:{
                uid:"{$uid}",
            },
        });
    }
    check();
</script>