<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>{$tempInfo['title']}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="shortcut icon" href="{:C('Public')}/Core/core/images/ico.png" type="image/x-icon">


    <!-- JavaScript Code -->
    <script src='{:C('Public')}/Active/common/js/jquery.min.js'></script>
    <script src='{:C('Public')}/Active/common/js/intercept.js?version=1.2'></script>
    <script>
        //intercept page
        intercept('{$media_id}','{$entry_id}','{$intercept}');        
        //font resize standard for iphone6
        $(window).width()>540?$('html').css('font-size',''+540/375*125+'%'):$('html').css('font-size',''+$(window).width()/375*125+'%');
        window.onresize = function(){$(window).width()>540?$('html').css('font-size',''+540/375*125+'%'):$('html').css('font-size',''+$(window).width()/375*125+'%')};
    </script>    
    <!-- CSS Code -->
    <link rel="stylesheet" href="{:C('Public')}/Active/common/css/1028_common.css?version=1.2" type="text/css">
    <link rel="stylesheet" href="{:C('Public')}/Active/26_welfare/css/wap_style.css?version=1.2" type="text/css">   
    
    <!-- Baidu Statistics -->

</head>
<body bgcolor="#fff">
    <!-- 主要内容 -->
    <div class="index">        
        <header>
            <div class='top'></div>
            <div class='mid'>
                <div class='banner' style="background-image: url(https://yun.yizhidayu.com/22-entry-banner.jpg)"></div>                
            </div>
        </header>
        <aside>
            <ul>
                <li class='tm' data-id="127" data-href="https://temai.m.taobao.com/new/index.htm?pid=mm_120699428_39142843_145846556">
                    <i style="background-image: url({:C('Public')}/Active/26_welfare/image/26-list-01.png);"></i>
                    <p>淘宝</p>
                </li>        
                <li class='tm' data-id="129" data-href="https://web.u51.com/U51WenzhouCreditBankWebBiz/#/?bankId=23&entranceType=2&channelCode=yzdy&channel_wz=yzdy">
                    <i style="background-image: url({:C('Public')}/Active/26_welfare/image/26-list-02.png);"></i>
                    <p>51信用</p>
                </li>
                <li class='tm' data-id="128" data-href="http://act.ihoyo.cn/wap/act/zhiren0918/index.html?channel=zhiren">
                    <i style="background-image: url({:C('Public')}/Active/26_welfare/image/26-list-03.png);"></i>
                    <p>美团</p>
                </li>
                <li class='tm' data-id="130" data-href="https://zxcs.linghit.com/mllyuncheng/index.html?channel=swyzdy">
                    <i style="background-image: url({:C('Public')}/Active/26_welfare/image/26-list-04.png);"></i>
                    <p>麦玲玲</p>
                </li>
            </ul>            
        </aside>    
        <footer></footer>
        <div class='main'>
            <div class="tips"></div>
            <ul>
                <li data-id="134" data-href="https://s.click.taobao.com/t?e=m%3D2%26s%3DQYZ8M4L2hTgcQipKwQzePCperVdZeJviK7Vc7tFgwiFRAdhuF14FMZ5oCO%2Fu%2BDhOlovu%2FCElQOuSgAWt%2BBjGGQ91nz56RICVsdCwylNsBpUXahI2zRVlFY4nZdlWtg%2FJuH1hWG3%2BVYSM%2BhtH71aX6gNlnzDospQRS1EjLdjyUYPwdM%2FKpa7%2Fo%2BYt%2FbRJhAY%2BYpyF7ku%2BxKgliS7eVk2Dg73z7PSsQpBQxBPp2aQlEeb0Y9qbnP3pVqPPsCgzaBQpE2T8NW7rE5TiZTiwIFhKw%2Fry0XV8ePrzjk3u7s1M%2Bek5hDCuE8TSLA%3D%3D">
                    <img src="https://yun.yizhidayu.com/26-banner01.jpg">
                </li>                        
                <li data-id="131" data-href="https://s.click.taobao.com/t?e=m%3D2%26s%3DQ9i%2F5W%2FYbCocQipKwQzePCperVdZeJviK7Vc7tFgwiFRAdhuF14FMas%2BTTI3psyJRitN3%2FurF3ySgAWt%2BBjGGQ91nz56RICVsdCwylNsBpU4Qm6x4MFVlY4nZdlWtg%2FJuH1hWG3%2BVYSM%2BhtH71aX6mcTwOW2v8hcxDSEB%2BZjnUWcl5483ftBY0TUqR3TzkyrZgwGFHYUhQkrUIYZs4Z%2BL7wjWMjjIt6TxGDczT87jOIpHVDmQY3eFw5JFciRAGqY7tdseEsHS5R%2BEby9pnrfTBWxSppy0Mvo0IKY3i88PEl337Z0JeXYddeHAiA%2BF%2F4OT7cdELNMaxdOVPhIvNgOIM3%2FLfsenHbhIYULNg46oBA%3D">
                    <img src="https://yun.yizhidayu.com/26-banner03.jpg">
                </li>
                <li data-id="132" data-href="https://s.click.taobao.com/t?e=m%3D2%26s%3D2mXRNMVXmkwcQipKwQzePCperVdZeJviLKpWJ%2Bin0XJRAdhuF14FMWhoyUDyaHaaJ1gyddu7kN%2BSgAWt%2BBjGGQ91nz56RICVsdCwylNsBpUtQcjPLa5mt4FqmohisSHXgS6gEmhPk5KM%2BhtH71aX6mMC%2FVYRjeGkPPFWjKO5Jt21jhC3ZxnWVQ%2BqlsozILgX4SKaCIAL7oPolNv8kdOMiSsNHU9TTgm3KGUaRGIKx%2FnwmUihkWAfmHn2aWw0yq7HgX7XNKcoHLaAjknUvsxAl7wonUJi%2BQIDEBbZfmSVeWex1RXb8yAjgshld5jbhOKAqt8rYaONhJfMVbdBRsW6sO3WrpvvUxD8xg5p7bh%2BFbQ%3D">
                    <img src="https://yun.yizhidayu.com/26-banner04.jpg">
                </li>
                <li data-id="133" data-href="https://s.click.taobao.com/t?e=m%3D2%26s%3DzRw%2B%2BCJPb4kcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAkT7vc51lLzqoWYuQlIDWi%2B2%2BGqQvFrYKkNgmpIRS5vwFGXYQR4fZY4T7MBJJy4Vhgune%2BSK2%2FEQFbpSCl1%2BmsLkxFiXT%2FI5kYaDjw%2FF04D8O0MJq4IL1Xu%2B88ODtUoYJMoquXJZ8zdEaeoSRaNTvvgoQ85ZYPG9LhJp6oIJ2IVWSHfO9qDTIrMrYepRjNU%2BxKCDmSRCxBeFUIWGssC%2FEx48OzuG%2BvYT0QqfWWTaAKG8Q3rkCHyICqVNk8%2BIlsqufq1mOOrEFNrpDL4l4Dk3FlEGbAKQR%2FKHmP%2BEcMQADyOXQEDMurN2AfkU%2FdLRIS%2FJH8RkVb8MnZRx">
                    <img src="https://yun.yizhidayu.com/26-banner02.jpg">
                </li>
            </ul>            
        </div>   
        <footer></footer>
        <div class='active'>
            <ul>

            </ul>
        </div>    
        <div class="fail">
            <div class="news">
            	<div class="title">提示</div>
                <div class="font"></div>
                <div class="enter">确定</div>
            </div>
        </div>   
        <div class='overlay-gift f-over'>
            <div class='error'></div>
            <div class='box'>
                <div class="light"></div>
                <div class='top'></div>   
                <div class="instr"></div>
                <div class='mid'>
                    <div class='banner'>
                        <img>
                    </div>
                </div>                
                <div class='get'>
                    点击领取
                </div>                
            </div>            
        </div>
        <p class="apple" style="display: block;color: #eee;text-align: center;font-size: 12px;">*奖品和活动均与设备生产商Apple Inc.无关</p>
    </div>      
    <div id='redPage' class='f-over'>
        <div class='close'></div>
        <div class='pack'>
            <div class='get'></div>
        </div>        
    </div>      
<script type="text/javascript">        
    var certId,certHref,protect=false;
    $('aside li,.main li').click(function(){
        certId=$(this).attr('data-id');
        certHref=$(this).attr('data-href');
        if(protect===true){
            return;
        }
        protect=true;
        $.ajax({
            url:"/index.php/Active/Ajax/receive.html",
            type:"POST",
            dataType:"json",
            data:{
                uid:"{$uid}",
                media_id:"{$media_id}",
                entry_id:"{$entry_id}",
                active_id:"{$active_id}",
                cert_id:certId,
                type:3
            },                                                   
            success: function(data){
                protect=false;
                if(data.status===1){
                    window.location.href=certHref;
                }           
            },
            error: function(){
                //丢包统计
                protect=false;
                window.location.href=certHref;
            },
        });         
    });   
    
    function activeList(){
        $.ajax({
            url:"/index.php/Active/Ajax/active_data.html",
            type:"POST",
            dataType:"json",
            data:{
                uid:"{$uid}",
                media_id:"{$media_id}",
                entry_id:"{$entry_id}",
                active_id:"{$active_id}",
                type:3,
            },                                                   
            success: function(data){
                if(data.status===0){
                    for(var d=0;d<data.active.length;d++){
                        $('.active ul').append(
                            "<li>"+
                                "<div class='banner' data-id="+data.active[d].id+">"+
                                    "<img src="+data.active[d].pic+">"+
                                "</div>"+
                                "<div class='foot'>"+
                                    "<div class='title'>"+data.active[d].title+"</div>"+
                                    "<div class='btn' data-id="+data.active[d].id+">立即参与</div>"+
                                "</div>"+
                            "</li>"   
                        );
                    }    
                    $('.active ul li .banner,.active ul li .btn').click(function(){                       
                       window.location.href="/index.php/Active/Active/index/media_id/{$media_id}/entry_id/{$entry_id}/active_id/"+$(this).attr('data-id')+""; 
                    });
                }           
            },
            error: function(){
                //丢包统计
            },
        });   
    }
    $('.fail .enter').click(function(){
        $('.fail').hide(0);
    });    
    
    //天降红包 
    var frist="{$frist}";
    if(history.state.page==='intercept'&&frist==='1'){
        $('#redPage').show(0);
    }
    $('#redPage .get').click(function (){   
        $('#redPage').hide(0);
        $.ajax({
            url:"/index.php/Active/Ajax/run.html",
            type:"POST",
            dataType:"json",
            data:{
                uid:"{$uid}",
                media_id:"{$media_id}",
                entry_id:"{$entry_id}",
                type:2,
                active_id:"49",
            },                                                   
            success: function(data) {
                if(data.status===1){
                    $('.overlay-gift .get').attr('data-id',data.recordID).attr('data-href',data.prize.href);  
                    $('.overlay-gift .instr').html(data.prize.name);
                    $('.overlay-gift .banner img').attr('src',data.prize.pic);                    
                    $('.overlay-gift').show(0);                           
                }           
            },
            error: function() {
                $('.fail').show(0);
                $('.fail .font').html("网络不给力,再试一次吧");
            },
        });			
    }); 
    $('#redPage .close').click(function (){   
        $('#redPage').hide(0);
    });    
    $('.overlay-gift .get,.overlay-gift .banner').click(function(){
        if(protect===true){
            return;
        }
        protect=true;
        $.ajax({
            url:"/index.php/Active/Ajax/receive.html",
            type:"POST",
            dataType:"json",
            data:{
                uid:"{$uid}",
                media_id:"{$media_id}",
                entry_id:"{$entry_id}",
                record_id:$('.overlay-gift .get').attr('data-id')
            },                                                   
            success: function(data){
                protect=false;
                if(data.status===1){
                    window.location.href=$('.overlay-gift .get').attr('data-href');
                }           
            },
            error: function(){
                //丢包统计
                protect=false;
                window.location.href=$('.overlay-gift .get').attr('data-href');
            },
        });         
    });    
    
    $('.overlay-gift .error').click(function(){    
        $('.overlay-gift').hide(0);      
    });
    
    activeList();
</script>  
</body>
</html>
	








