#scratch{ position: relative;}
#cover{ position: absolute; top:48%; left:50%;transform: translate(-50%,-50%);}
#card{ -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
