*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.elasticstack {
	position: absolute;
	z-index: 5;
	top: 3.8rem;
	/* margin: 5px auto; */
	padding: 0;
	width: 7.5rem;
	height: 5rem;
	border-radius: 7px;
	list-style: none;
	-webkit-perspective: 1000px;
	-webkit-perspective-origin: 50% 150%;
	perspective: 1000px;
	perspective-origin: 50% 150%;
}

.no-js .elasticstack {
	max-width: 1090px;
	width: 100%;
	height: auto;
	text-align: center;
}

.elasticstack li {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	z-index: 1;
	background:#fff;
	width: 6.22rem;
	height: 3.36rem;
	border-radius:7px;
	border-width: 5px 5px;
	border-style: solid;
	border-color: #fff;
	box-shadow: 0 10px 7px -7px rgba(0,0,0,0.12), 0 0 4px rgba(0,0,0,0.1);
	opacity: 0;
	cursor: pointer;
	-webkit-transform: translate3d(0,0,-180px);
	transform: translate3d(0,0,-180px);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.no-js .elasticstack li {
	position: relative;
	display: inline-block;
	opacity: 1;
	margin: 10px;
	cursor: default;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	border-radius:7px;
	/*background:pink;*/
}

.elasticstack li img {
	width: 6.02rem;
	height: 3.16rem;
	display: block;
	border-radius:7px;
}

.elasticstack li h5 {
	margin: 0 5px;
	color: #143f51;
	height: 60px;
	text-align: right;
	font-size: 1.4em;
	font-family: "Sacramento", cursive;
	line-height: 60px;
}

.elasticstack li.animate {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.elasticstack li.move-back {
	/* http://matthewlein.com/ceaser/ */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
}
