
#cover{
    position: absolute;
    top:50%;
    left:50.6%;
    transform: translate(-50%,-50%);
    width:5.95rem;
    height:2.67rem;
    border-radius:1px;
}
#card{ -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
